# Data Cleaning and Preparation

---

Author: Jiacheng 

Date: 2019-05-15

---

In [2]:
import numpy as np
import pandas as pd

---

## 1. Handling Missing Data
## 处理缺失数据

In [2]:
string_data = pd.Series(['dark', 'artichoke', np.nan, 'avocat'])
string_data

0         dark
1    artichoke
2          NaN
3       avocat
dtype: object

In [3]:
string_data[0] = None

In [4]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

* ### 1.滤除缺失数据

In [5]:
string_data.dropna()

1    artichoke
3       avocat
dtype: object

In [9]:
data = pd.DataFrame([[1.,6.5,3.], [1., np.nan, np.nan],
                    [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [11]:
# 丢弃含有Nan的行
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [12]:
# 丢弃全为Nan的行或列
clean2 = data.dropna(how='all')
clean2

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [13]:
data[4] = np.nan
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [16]:
clean3 = data.dropna(axis=1, how='all')
clean3

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [17]:
df = pd.DataFrame(np.random.rand(7,3))
df

          0         1         2
0  0.838163  0.466194  0.118949
1  0.312286  0.174680  0.867592
2  0.831147  0.789635  0.259428
3  0.101773  0.312501  0.548222
4  0.160799  0.355009  0.743956
5  0.280305  0.394925  0.142269
6  0.112486  0.684926  0.395195

In [18]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

          0         1         2
0  0.838163       NaN       NaN
1  0.312286       NaN       NaN
2  0.831147       NaN  0.259428
3  0.101773       NaN  0.548222
4  0.160799  0.355009  0.743956
5  0.280305  0.394925  0.142269
6  0.112486  0.684926  0.395195

In [23]:
df.dropna(thresh=2)

          0         1         2
2  0.831147       NaN  0.259428
3  0.101773       NaN  0.548222
4  0.160799  0.355009  0.743956
5  0.280305  0.394925  0.142269
6  0.112486  0.684926  0.395195

* ### 2. 填充缺失数据

In [24]:
df.fillna(0)

          0         1         2
0  0.838163  0.000000  0.000000
1  0.312286  0.000000  0.000000
2  0.831147  0.000000  0.259428
3  0.101773  0.000000  0.548222
4  0.160799  0.355009  0.743956
5  0.280305  0.394925  0.142269
6  0.112486  0.684926  0.395195

In [28]:
# 对不同行列填充
df.fillna({1: 0.6, 2: 100})

          0         1           2
0  0.838163  0.600000  100.000000
1  0.312286  0.600000  100.000000
2  0.831147  0.600000    0.259428
3  0.101773  0.600000    0.548222
4  0.160799  0.355009    0.743956
5  0.280305  0.394925    0.142269
6  0.112486  0.684926    0.395195

In [35]:
# 就地修改
df.fillna(0, inplace=True)
df

          0         1         2
0  0.838163  0.000000  0.000000
1  0.312286  0.000000  0.000000
2  0.831147  0.000000  0.259428
3  0.101773  0.000000  0.548222
4  0.160799  0.355009  0.000000
5  0.280305  0.394925  0.000000
6  0.112486  0.684926  0.000000

In [36]:
df.iloc[1:3, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

          0         1         2
0  0.838163  0.000000  0.000000
1  0.312286       NaN  0.000000
2  0.831147       NaN  0.259428
3  0.101773  0.000000  0.548222
4  0.160799  0.355009       NaN
5  0.280305  0.394925       NaN
6  0.112486  0.684926       NaN

In [37]:
df.fillna(method='ffill')

          0         1         2
0  0.838163  0.000000  0.000000
1  0.312286  0.000000  0.000000
2  0.831147  0.000000  0.259428
3  0.101773  0.000000  0.548222
4  0.160799  0.355009  0.548222
5  0.280305  0.394925  0.548222
6  0.112486  0.684926  0.548222

In [38]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.838163  0.000000  0.000000
1  0.312286  0.000000  0.000000
2  0.831147  0.000000  0.259428
3  0.101773  0.000000  0.548222
4  0.160799  0.355009  0.548222
5  0.280305  0.394925  0.548222
6  0.112486  0.684926       NaN

In [39]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [40]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

--- 

## 2. Data Transformation
## 数据转换

* ### 1.移除重复数据

In [3]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [4]:
# 查看是否重复
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [5]:
# 丢弃重复行
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [6]:
# 根据某列过滤
data.drop_duplicates(['k1'])

    k1  k2
0  one   1
1  two   1

In [7]:
# 保留最后一个重复项
data['v1'] = range(7)
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

* ### 2. 利用函数或映射进行数据转换

In [8]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [9]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [10]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [11]:
# 输入字典，添加新的列
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [12]:
data['food'].map(lambda x: meat_to_animal[x.lower()])
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [13]:
meat_to_animal['bacon']

'pig'

* ### 3. 替换值

In [14]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [15]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [16]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [17]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

* ### 4. 重命名轴索引

In [18]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [19]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [20]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [21]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [22]:
# 更新单个标签
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

* ### 5. 离散化和面元划分

In [23]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
# 将元素划分至相应模块
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [24]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [25]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [26]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [27]:
# 将括号右侧变为开端
pd.cut(ages, bins, right=False)

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

In [28]:
# 设置模块名称
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [31]:
# 自动计算面元边界
data = np.random.rand(20)
new = pd.cut(data, 4, precision=2)
new

[(0.25, 0.49], (0.72, 0.96], (0.012, 0.25], (0.72, 0.96], (0.012, 0.25], ..., (0.49, 0.72], (0.012, 0.25], (0.72, 0.96], (0.72, 0.96], (0.012, 0.25]]
Length: 20
Categories (4, interval[float64]): [(0.012, 0.25] < (0.25, 0.49] < (0.49, 0.72] < (0.72, 0.96]]

In [32]:
pd.value_counts(new)

(0.012, 0.25]    8
(0.72, 0.96]     7
(0.49, 0.72]     3
(0.25, 0.49]     2
dtype: int64

In [33]:
# 自动划分，面元均匀
data = np.random.randn(1000)
cats = pd.qcut(data, 4)
cats

[(0.0383, 0.712], (-0.646, 0.0383], (0.712, 3.199], (-3.097, -0.646], (0.712, 3.199], ..., (-3.097, -0.646], (0.0383, 0.712], (-3.097, -0.646], (0.0383, 0.712], (0.0383, 0.712]]
Length: 1000
Categories (4, interval[float64]): [(-3.097, -0.646] < (-0.646, 0.0383] < (0.0383, 0.712] < (0.712, 3.199]]

In [34]:
pd.value_counts(cats)

(0.712, 3.199]      250
(0.0383, 0.712]     250
(-0.646, 0.0383]    250
(-3.097, -0.646]    250
dtype: int64

* ### 6. 检测和过滤异常值

In [35]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.077569     0.060644     0.035426     0.023565
std       1.019199     0.975362     1.010162     1.027024
min      -3.100124    -2.578223    -3.085624    -3.493789
25%      -0.749584    -0.608504    -0.636050    -0.675858
50%      -0.103439     0.065892     0.030770     0.059562
75%       0.567073     0.770823     0.707802     0.736142
max       3.415603     3.680493     3.684774     3.140156

In [36]:
col = data[1]
col[np.abs(col) > 3]

944    3.680493
Name: 1, dtype: float64

In [37]:
# 选取含有绝对值超过3的行
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
76   1.259367 -0.268862  0.985904 -3.431248
124 -3.100124  0.331421  1.163147  0.834028
135 -1.859431 -0.536564  2.781436  3.140156
370 -0.137574  0.945074  3.684774  0.252331
447  0.194345  0.902476  3.232018 -0.482528
494  0.229839 -0.320107  0.767496 -3.493789
691 -0.770600 -0.009072 -3.085624 -0.485321
824  3.415603 -0.574581  1.099455 -0.767964
944  0.008173  3.680493  1.420038  0.757630
951  0.349434 -0.555570  1.083382 -3.144719

In [38]:
# 利用sign函数替换值， 将区间限制在[-3,3]
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.077885     0.059963     0.034595     0.024494
std       1.017564     0.973069     1.006943     1.023228
min      -3.000000    -2.578223    -3.000000    -3.000000
25%      -0.749584    -0.608504    -0.636050    -0.675858
50%      -0.103439     0.065892     0.030770     0.059562
75%       0.567073     0.770823     0.707802     0.736142
max       3.000000     3.000000     3.000000     3.000000

* ### 7. 排列和随机采样

In [39]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler = np.random.permutation(5)
sampler

array([0, 2, 4, 1, 3])

In [40]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [41]:
df.take(sampler)

    0   1   2   3
0   0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15

In [42]:
# 不替换选取随机子集
df.sample(n=4)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
0   0   1   2   3
4  16  17  18  19

In [44]:
# 自身替换
choices = pd.Series([5, 0, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

2   -1
4    4
3    6
1    0
0    5
2   -1
0    5
4    4
4    4
1    0
dtype: int64

* ### 8. 计算指标/哑变量

In [45]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [46]:
# 1代表这行含有此元素，0代表无
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [47]:
# 给列名称加上前缀，添加对应值
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [51]:
# 用于推荐系统的数据集
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('../datasets/movielens/movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

/anaconda3/envs/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [52]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [58]:
# 初始化
zero_matrix = np.zeros((len(movies), len(genres)))
dumnies = pd.DataFrame(zero_matrix, columns=genres)

In [59]:
# 提取字段
gen = movies.genres[0]
# 分割字段
gen.split('|')

['Animation', "Children's", 'Comedy']

In [64]:
dumnies.columns.get_indexer(gen.split('|'))

array([0, 1, 2])

In [65]:
# 对于每部电影，给出其特征
for i, gen in enumerate(movies.genres):
    indices = dumnies.columns.get_indexer(gen.split('|'))
    dumnies.iloc[i, indices] = 1
    
dumnies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
# 将特征附在movies后
movies_windic = movies.join(dumnies.add_prefix('Genre_'))
# 查看第一部电影的特征分布
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [68]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [69]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

---

## 3. String Manipulation
## 字符串操作

* ### 1. 字符串对象方法

In [72]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

In [73]:
# strip除去空白符
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [74]:
# join连接
'::'.join(pieces)

'a::b::guido'

In [75]:
# 找不到，返回-1
val.find(':')

-1

In [76]:
# 若找不到，返回异常
val.index(',')

1

In [77]:
val.count(',')

2

In [78]:
# 替换分割
val.replace(',', '::')

'a::b:: guido'

* ### 2. 正则表达式

In [79]:
import re

In [82]:
text = "hi    bar\n  oh \t  qu"

In [83]:
# 分割空白符,换行符，制表符
re.split('\s+', text)

['hi', 'bar', 'oh', 'qu']

In [84]:
# 自己编译
# 节省CPU时间
regex = re.compile('\s+')
regex.split(text)

['hi', 'bar', 'oh', 'qu']

In [85]:
regex.findall(text)

['    ', '\n  ', ' \t  ']

In [97]:
text = """Dave: dave@google.com
Steve: steve@gmail.com
Rob: rob@gmail.com
Ryan: ryan@yahoo.com
"""
pattern = '[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [98]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [99]:
# 返回第一个
m = regex.search(text)
m
# span代表忽略多少字符

In [100]:
text[m.start():m.end()]

'dave@google.com'

In [101]:
# sub替换指定字符串，返回新字符串
print(regex.sub('REDACTED', text))

Dave： REDACTED
Steve: REDACTED
Rob: REDACTED
Ryan: REDACTED

In [102]:
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [103]:
m = regex.match('tiana@tine.asdf')
m

In [104]:
m.groups()

('tiana', 'tine', 'asdf')

In [105]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [106]:
# \返回匹配分组
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave： Username: dave, Domain: google, Suffix: com
Steve: Username: steve, Domain: gmail, Suffix: com
Rob: Username: rob, Domain: gmail, Suffix: com
Ryan: Username: ryan, Domain: yahoo, Suffix: com

* ### 3. pandas的矢量化字符串函数

In [107]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [108]:
# 查看是否含有关键字
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [109]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [110]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [111]:
matches.str.get(1)

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [112]:
matches.str[0]

Dave    NaN
Steve   NaN
Rob     NaN
Wes     NaN
dtype: float64

In [113]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object